$red: #fe5f1e;
$light-gray: #f6f6f6;
$white: #ffffff;
$orange: #fe5f1e;

@font-face {
  font-weight: 900;
  font-family: "Proxima Nova";
  font-style: normal;

  src: url("../../assets/fonts/ProximaNova-Black.eot");
  src: local("../../assets/fonts/Proxima Nova Black"),local("ProximaNova-Black"),url("../../assets/fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"),url("../../assets/fonts/ProximaNova-Black.woff") format("woff"),url("../../assets/fonts/ProximaNova-Black.ttf") format("truetype");
}

@font-face {
  font-weight: bold;
  font-family: "Proxima Nova";
  font-style: normal;

  src: url("../../assets/fonts/ProximaNova-Bold.eot");
  src: local("../../assets/fonts/Proxima Nova Bold"),local("ProximaNova-Bold"),url("../../assets/fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),url("../../assets/fonts/ProximaNova-Bold.woff") format("woff"),url("../../assets/fonts/ProximaNova-Bold.ttf") format("truetype");
}

@font-face {
  font-weight: normal;
  font-family: "Proxima Nova";
  font-style: normal;

  src: url("../../assets/fonts/ProximaNova-Regular.eot");
  src: local("../../assets/fonts/Proxima Nova Regular"),local("ProximaNova-Regular"),url("../../assets/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),url("../../assets/fonts/ProximaNova-Regular.woff") format("woff"),url("../../assets/fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 800;
  font-family: "Proxima Nova";
  font-style: normal;

  src: url("../../assets/fonts/ProximaNova-Extrabld.eot");
  src: local("../../assets/fonts/Proxima Nova Extrabold"),local("ProximaNova-Extrabld"),url("../../assets/fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"),url("../../assets/fonts/ProximaNova-Extrabld.woff") format("woff"),url("../../assets/fonts/ProximaNova-Extrabld.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
  font-family: "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;

  outline: none;
}

html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  padding: 50px 0;

  color: #232323;

  background-color: #ffdf8c;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #232323;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

.wrapper {
  width: calc(100vw - 100px);
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;

  background-color: $white;
  border-radius: 10px;
}

.content {
  padding: 40px 0;
}

.content__title {
  margin: 35px 0;
}

.content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-start;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.container {
  width: 90%;
  margin: 0 auto;
}
