$red: #fe5f1e;
$light-gray: #f6f6f6;
$white: #ffffff;

@font-face {
  font-weight: 900;
  font-family: "Proxima Nova";
  font-style: normal;

  src: url("../../assets/fonts/ProximaNova-Black.eot");
  src: local("../../assets/fonts/Proxima Nova Black"),local("ProximaNova-Black"),url("../../assets/fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"),url("../../assets/fonts/ProximaNova-Black.woff") format("woff"),url("../../assets/fonts/ProximaNova-Black.ttf") format("truetype");
}

@font-face {
  font-weight: bold;
  font-family: "Proxima Nova";
  font-style: normal;

  src: url("../../assets/fonts/ProximaNova-Bold.eot");
  src: local("../../assets/fonts/Proxima Nova Bold"),local("ProximaNova-Bold"),url("../../assets/fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),url("../../assets/fonts/ProximaNova-Bold.woff") format("woff"),url("../../assets/fonts/ProximaNova-Bold.ttf") format("truetype");
}

@font-face {
  font-weight: normal;
  font-family: "Proxima Nova";
  font-style: normal;

  src: url("../../assets/fonts/ProximaNova-Regular.eot");
  src: local("../../assets/fonts/Proxima Nova Regular"),local("ProximaNova-Regular"),url("../../assets/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),url("../../assets/fonts/ProximaNova-Regular.woff") format("woff"),url("../../assets/fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 800;
  font-family: "Proxima Nova";
  font-style: normal;

  src: url("../../assets/fonts/ProximaNova-Extrabld.eot");
  src: local("../../assets/fonts/Proxima Nova Extrabold"),local("ProximaNova-Extrabld"),url("../../assets/fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"),url("../../assets/fonts/ProximaNova-Extrabld.woff") format("woff"),url("../../assets/fonts/ProximaNova-Extrabld.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
  font-family: "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;

  outline: none;
}

html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  padding: 50px 0;

  color: #232323;

  background-color: #ffdf8c;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #232323;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

.categories {
  & ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  & ul li {
    margin-right: 10px;
    padding: 13px 30px;

    font-weight: bold;

    background-color: #f9f9f9;
    border-radius: 30px;
    cursor: pointer;

    -webkit-transition: background-color 0.1s ease-in-out;
            transition: background-color 0.1s ease-in-out;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
  }

  & ul li:hover {
    background-color: #f4f4f4;
  }

  & ul li:active {
    background-color: #ececec;
  }

  & ul li.active {
    color: $white;

    background-color: #282828;
  }
}

.pizza-block {
  width: 280px;
  margin-bottom: 65px;

  text-align: center;

  &:not(:nth-of-type(4n)) {
    margin-right: 35px;
  }
}

.pizza-block__image {
  width: 260px;
}

.pizza-block__title {
  margin-bottom: 20px;

  font-weight: 900;
  font-size: 20px;
  letter-spacing: 1%;
}

.pizza-block__selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 6px;

  background-color: #f3f3f3;
  border-radius: 10px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;

  & ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
        flex: 1;

    -webkit-box-flex: 1;
  }

  & ul:first-of-type {
    margin-bottom: 6px;
  }

  & ul li {
    -ms-flex: 1;
        flex: 1;
    padding: 8px;

    font-weight: 600;
    font-size: 14px;

    cursor: pointer;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-box-flex: 1;
    -webkit-touch-callout: none;
  }

  & ul li.active {
    background: $white;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    cursor: auto;
  }
}

.pizza-block__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.pizza-block__price {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
}

.wrapper {
  width: calc(100vw - 100px);
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;

  background-color: $white;
  border-radius: 10px;
}

.content {
  padding: 40px 0;
}

.content__title {
  margin: 35px 0;
}

.content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container--cart {
  max-width: 820px;
  margin: 90px auto;

  & .content__title {
    margin: 0;
  }
}

.cart__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.cart .content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;

  font-size: 32px;

  -webkit-box-align: center;
  -ms-flex-align: center;

  & svg path {
    stroke: #232323;
    stroke-width: 1.9;
  }

  & svg {
    position: relative;
    top: -2px;

    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

.cart__clear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;

  cursor: pointer;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-touch-callout: none;

  & span {
    display: inline-block;
    margin-left: 7px;

    font-size: 18px;
    color: #b6b6b6;
  }

  & path,
  & svg,
  & span {
    -webkit-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
  }

  &:hover svg path {
    stroke: #373737;
  }

  &:hover span {
    color: #373737;
  }
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;

  border-top: 1px solid $light-gray;
}

.cart__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 10%;
  margin-right: 15px;

  -webkit-box-align: center;
  -ms-flex-align: center;

  & img {
    width: 80px;
    height: 80px;
  }
}


.cart__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: center;
  width: 40%;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -ms-flex-pack: center;

  & h3 {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
  }

  & p {
    font-size: 18px;
    color: #8d8d8d;
  }
}


.cart__item-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13%;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;

  & b {
    font-size: 22px;
  }
}

.cart__item-count-minus svg path:first-of-type {
  display: none;
}


.cart__item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;

  &  b {
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.01em;
  }
}


.cart__item-remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 4%;

  -webkit-box-align: center;
  -webkit-box-pack: end;
  -ms-flex-align: center;
  -ms-flex-pack: end;

  & .button {
    border-color: #dddddd;
  }

  & svg {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  & svg path {
    fill: #d0d0d0;
  }

  & .button svg {
    position: relative;

    width: 11.5px;
    height: 11.5px;
  }

  & .button:hover,
  & .button:active {
    background-color: #2a2a2a;
    border-color: #2a2a2a;
  }
}

.cart__bottom {
  margin: 50px 0;
}

.cart__bottom-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;

  & span {
    font-size: 22px;
  }

  & span:last-of-type b {
    color: $red;
  }
}

.cart__bottom-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;

  & .go-back-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;

    border-color: #dddddd;

    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
  }

  & .go-back-btn span {
    font-weight: 500;
    font-weight: 600;
    color: #c3c3c3;
  }

  &  .go-back-btn:hover {
    background-color: #111111;
    border-color: #111111;
  }

  & .go-back-btn:hover span {
    color: $light-gray;
  }

  & .go-back-btn svg {
    margin-right: 12px;
  }

  & .go-back-btn svg path {
    fill: transparent;
    stroke-width: 2;
  }

  & .pay-btn {
    width: 210px;
    padding: 16px;

    font-weight: 600;
    font-size: 16px;
  }
}

.cart--empty {
  width: 560px;
  margin: 0 auto;

  text-align: center;

  & h2 {
    margin-bottom: 10px;

    font-size: 32px;
  }

  & p {
    font-size: 18px;
    line-height: 145.4%;
    color: #777777;
    letter-spacing: 0.01em;
  }

  & .icon {
    position: relative;
    top: 2px;
  }

  & img {
    display: block;
    width: 300px;
    margin: 45px auto 60px;
  }

  & .button--black {
    width: 230px;
    margin: 0 auto;
    padding: 12px 0 14px;

    font-weight: 600;
    font-size: 18px;
  }
}
